.custom-navbar{
    background-color: #1a1573;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}
.link {
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    color: white;
    transition: color ease-in-out 300ms;
    border-bottom: 2px solid transparent;
  }
  .link:hover {
    color: #1b4388;
  }
 
  
  .active-link {
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color: #FFC107;
    border-bottom: 2px solid white;
  }